@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
 
    --primary: 248 90% 66%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --ring: 248 90% 66%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 12 6.5% 15.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.takeInside{
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background: #000;
  color: #fff;
  margin-left: 2em;
  width: 50vw;
  padding-top: 2em;
  border-radius: 10px;
}

.label {
  font-size: 1.2em;
  font-weight: 500;
  background: #000;
  color: #fff;
}
.button{
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  cursor: pointer;
  font-size: 1em;
}
.submitButton {
  margin-top: 2em;
  background-color: #fff;
  color: #000;
  margin-bottom:2em;
}
input {
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 1em;
  margin-bottom: 1em;

}
input:focus{
  outline: solid rgb(0, 151, 211);
  border: none;
}
.dateHeader {
  margin-left: -7em;
}
.filterButton{
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.filterHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.calendar {
  border-radius: 10px;
  background-color: #fff;
  color: black;
  font-size: 0.5em;
  position: absolute;
  top: 40px; /* Adjust this value based on your design */
  left: 0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.calendar {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  font-size: 0.5em;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.filterButton:hover + .calendar {
  display: block;
}
.summary{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
}
.NPS{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.summarySection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}
.IDNO{
  padding-right: 2em;
  font-size: 1.5em;
}
.sentiment{
  padding-right: 30vw;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center; 
}
.sentiment2{
  padding-right: 29vw;
}
.NPS{
  font-size: 1.5em;
}

.summary{
  background: #f4f4f4;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 7px;
}
.summary:hover{
  background: #d4d4d4;
  cursor: pointer;
}
.summaryDropDown{
  width: 55vw;
}
/*  */
/* .summary:hover + .dropDown{
  height: auto;
  opacity: 1;
} */

/* .dropDown {
  outline: solid black;
  display: grid;
  grid-template-rows: 0fr;
  transition: gridtemplate-rows 0.3s ;
}
.summary:hover + .dropDown {
  grid-template-rows: 1fr;
} */

@keyframes slide-down {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 1;}
  75%  {opacity: 0;}
  100% {opacity: 0;
  height: 0;}
}



























/* styles.css
.summaryDropDown {
  position: relative;
  display: inline-block;
} */

.summaryDropDown .summary {
  background: #f4f4f4;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 1em;
  border-radius: 7px;
  position: relative;
}

/* .summaryDropDown:hover .dropDown {
  max-height: 200px;
} */

.summaryDropDown .dropDown {
  background: #fcfcfc;
  padding: 1em 2em;
}
.dropDownTitle{
  padding-top: 1.6em;
}

.uploadButton{
  background: #7f5db8;
}

.dropDown {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.4s ease-in;
}
.dropDown > * {
  min-height: 0;
}
.summary:hover + .dropDown,
.dropDown:hover {
  grid-template-rows: 1fr;
}